<div class="md-padding" flex layout-sm="column" layout-margin>
	<!-- <md-card class="text-center">
        <md-card-content>
            <h1>{{ vm.title }}</h1>
            <h3>{{ vm.version }}</h3>
            <p>This is a template for a simple home screen website. Use it as a starting point to create something more unique.</p>
            <code>app/modules/home/home.html</code>
            <br>
            <p><a href="http://www.github.com/newaeonweb/generator-angm" class="btn btn-primary" role="button">Learn more »</a></p>
            <md-divider class="margin-top-20"></md-divider>
            <h1 class="margin-top-50">Features</h1>
            <ul>
                <li class=" text-center" ng-repeat="item in vm.listFeatures">
                    <p><ng-md-icon icon="check"></ng-md-icon> {{item.feature}}</p>
                </li>
            </ul>
        </md-card-content>
    </md-card> -->

<formly-form model=vm.model fields=vm.fields></formly-form>
	<!-- <div layout="row" layout-margin>
		<div flex=25>
			<div class="dashboard-stat blue-chambray" md-whiteframe="3">
				<div class="visual">
					<i class="fa fa-tasks"></i>
				</div>
				<div class="details">
					<div class="number">
						55
					</div>
					<div class="desc">
						New Leads
					</div>
				</div>
				<a class="more" href="#">
                View more <i class="m-icon-swapright m-icon-white"></i>
                </a>
			</div>
		</div>

		<div flex=25>
			<div class="dashboard-stat yellow-casablanca" md-whiteframe="3">
				<div class="visual">
					<i class="fa fa-check-square-o"></i>
				</div>
				<div class="details">
					<div class="number">
						226
					</div>
					<div class="desc">
						New Opportunities
					</div>
				</div>
				<a class="more" href="#">
                View more <i class="m-icon-swapright m-icon-white"></i>
                </a>
			</div>
		</div>

		<div flex=25>
			<div class="dashboard-stat blue-hoki" md-whiteframe="3">
				<div class="visual">
					<i class="fa fa-tasks"></i>
				</div>
				<div class="details">
					<div class="number">
						5
					</div>
					<div class="desc">
						Open Quotes
					</div>
				</div>
				<a class="more" href="#">
                View more <i class="m-icon-swapright m-icon-white"></i>
                </a>
			</div>
		</div>

		<div flex=25>
			<div class="dashboard-stat red-pink" md-whiteframe="3">
				<div class="visual">
					<i class="fa fa-check-square-o"></i>
				</div>
				<div class="details">
					<div class="number">
						300
					</div>
					<div class="desc">
						New Agreements
					</div>
				</div>
				<a class="more" href="#">
                View more <i class="m-icon-swapright m-icon-white"></i>
                </a>
			</div>
		</div>
	</div> -->

	<div layout="row">
		<div flex=33>
			<md-card md-whiteframe="3">
				<md-card-title>
					<md-card-title-text>
						<span class="md-headline">Pipeline</span>
					</md-card-title-text>
				</md-card-title>
				<md-card-content>
					<canvas id="line" class="chart chart-line chart-xl" chart-data="vm.line.data" chart-labels="vm.line.labels" chart-legend="true" click="line.onClick" chart-series="vm.line.series">
					</canvas>
				</md-card-content>
			</md-card>
		</div>

		<div flex=33>
			<md-card md-whiteframe="3">
				<md-card-title>
					<md-card-title-text>
						<span class="md-headline">Current Month Activity</span>
					</md-card-title-text>
				</md-card-title>
				<md-card-content>
					<canvas id="bar" class="chart chart-bar" chart-data="vm.bar.data" chart-labels="vm.bar.labels" chart-series="vm.bar.series" chart-legend="true" options="vm.bar.options" chart-colours="vm.bar.colours">
					</canvas>
				</md-card-content>
			</md-card>
		</div>

		<div flex=33>
			<md-card md-whiteframe="3">
				<md-card-title>
					<md-card-title-text>
						<span class="md-headline">Opportunity Categorization</span>
					</md-card-title-text>
				</md-card-title>
				<md-card-content>
					<canvas id="doughnut" class="chart chart-doughnut chart-xs" data="vm.donut.data" labels="vm.donut.labels" legend="true" colours="vm.donut.colours">
					</canvas>
				</md-card-content>
			</md-card>
		</div>
	</div>

	<div layout="row">
		<div flex=66>
			<md-card md-whiteframe="3">
				<md-card-title>
					<md-card-title-text>
						<span class="md-headline">Latest Leads Generated</span>
					</md-card-title-text>
				</md-card-title>
				<md-card-content>
					<ui-gmap-google-map center='vm.map.center' zoom='vm.map.zoom'>
						<!-- <ui-gmap-marker ng-repeat="marker in vm.map.markers" idkey="vm.map.marker.id" coords="vm.map.marker.coords" click="vm.map.marker.id" options="vm.map.marker.options">
						</ui-gmap-marker> -->
						<ui-gmap-marker coords="vm.map.marker.coords" options="vm.map.marker.options" events="vm.map.marker.events" idkey="vm.map.marker.id">
        		</ui-gmap-marker>
					</ui-gmap-google-map>
				</md-card-content>
			</md-card>
		</div>
		<div flex=33>
			<md-card md-whiteframe="3">
				<img ng-src="./../../app/assets/images/zoozoo-vodafone-wallpaper-4.jpg" class="md-card-image" alt="Washed Out">
				<md-card-actions layout="row" layout-align="end center" style="margin:-26px 10px 0 0;">
					<md-button class="md-fab md-mini md-primary" aria-label="Menu">
						<md-icon md-svg-src="./../../app/assets/images/ic_more_vert_white_24px.svg"></md-icon>
					</md-button>
					<md-button class="md-fab md-mini md-warn" aria-label="Menu">
						<md-icon md-svg-src="./../../app/assets/images/ic_menu_white_24px.svg"></md-icon>
					</md-button>
				</md-card-actions>
				<md-card-content>
					<!-- <div layout="row"> -->
						<md-card-title>
							<md-card-title-text>
								<span class="md-headline">Featured Product Of Month</span>
							</md-card-title-text>
						</md-card-title>
					<!-- </div> -->
				</md-card-content>
			</md-card>
		</div>
	</div>

	<div layout="row">
		<div flex=33>
			<md-card md-whiteframe="3" style="background-color:#009688">
				<md-card-content layout="row" style="background-color:#009688" layout-align="center center">
					<canvas id="radar" class="chart chart-radar" chart-data="vm.radar.data" chart-labels="vm.radar.labels" chart-colours="vm.radar.colors">
					</canvas>
				</md-card-content>
				<md-card-content layout="row" style="background-color:#00796b" layout-align="center center">
					<canvas id="line" class="chart chart-line chart-xl" chart-data="vm.line.data" chart-labels="vm.line.labels" click="line.onClick" chart-series="vm.line.series" chart-colours="vm.line.colors">
					</canvas>
				</md-card-content>
			</md-card>
		</div>
		<div flex=66>
			<md-card md-whiteframe="3">
				<md-card-title>
					<md-card-title-text>
						<span class="md-headline">Latest Members</span>
					</md-card-title-text>
				</md-card-title>
				<md-card-content>
					<md-list layout="row">
						<md-list-item>
							<div layout="column">
								<img ng-src="./../../app/assets/images/user1-128x128.jpg" alt="" style="border-radius:50%; max-width: 100%; height: auto;" />
								<md-subheader class="md-no-sticky">Alexander Pierce</md-subheader>
							</div>
						</md-list-item>
						<md-list-item>
							<div layout="column">
								<img ng-src="./../../app/assets/images/user_11.jpg" alt="" style="border-radius:50%; " />
								<md-subheader class="md-no-sticky">Robert Hill</md-subheader>
							</div>
						</md-list-item>
						<md-list-item>
							<div layout="column">
								<img ng-src="./../../app/assets/images/user5-128x128.jpg" alt="" style="border-radius:50%; " />
								<md-subheader class="md-no-sticky">Jane Foster</md-subheader>
							</div>
						</md-list-item>
						<md-list-item>
							<div layout="column">
								<img ng-src="./../../app/assets/images/user6-128x128.jpg" alt="" style="border-radius:50%; " />
								<md-subheader class="md-no-sticky">Ian Sell</md-subheader>
							</div>
						</md-list-item>
					</md-list>
					<md-list layout="row">
						<md-list-item>
							<div layout="column">
								<img ng-src="./../../app/assets/images/user7-128x128.jpg" alt="" style="border-radius:50%; " />
								<md-subheader class="md-no-sticky">Mary Jane</md-subheader>
							</div>
						</md-list-item>
						<md-list-item>
							<div layout="column">
								<img ng-src="./../../app/assets/images/user8-128x128.jpg" alt="" style="border-radius:50%; " />
								<md-subheader class="md-no-sticky">John Burrows</md-subheader>
							</div>
						</md-list-item>
						<md-list-item>
							<div layout="column">
								<img ng-src="./../../app/assets/images/user_9.jpg" alt="" style="border-radius:50%; " />
								<md-subheader class="md-no-sticky">Steve Zampa </md-subheader>
							</div>
						</md-list-item>
						<md-list-item>
							<div layout="column">
								<img ng-src="./../../app/assets/images/user_10.jpg" alt="" style="border-radius:50%; " />
								<md-subheader class="md-no-sticky">Ted Murphy</md-subheader>
							</div>
						</md-list-item>
					</md-list>
				</md-card-content>
			</md-card>
		</div>
	</div>
</div>


<script type="text/ng-template" id="statusChips.html">
	<div layout="row" layout-margin>
<div flex=25 ng-repeat="chips in to.setOfFields">
	<div class="{{chips.class}}" md-whiteframe="3">
		<div class="visual">
			<i class="{{chips.iClass}}"></i>
		</div>
		<div class="details">
			<div class="number">
				{{model[chips.mode]}}
			</div>
			<div class="desc">
				{{chips.title}}
			</div>
		</div>
		<a class="more" href="{{chips.link}}">
						View more <i class="m-icon-swapright m-icon-white"></i>
						</a>
	</div>
</div>
	</div>
</script>



<style>
.angular-google-map-container
{
	height: 373px;
}
.marker_labels {
     color: red;
     /* background-color: red; */
     font-family: "Lucida Grande", "Arial", sans-serif;
     font-size: 12px;
     text-align: center;
     /* width: 10px; */
     white-space: nowrap;

</style>
