<div flex layout-sm="column">
		<formly-form model="vm.opportunity" fields="vm.opportunityFields"></formly-form>
</div>


<script type="text/ng-template" id="test.html">
	<div>
		<pre ng-repeat="(key,value) in this">$scope.{{key}} = {{ value | json }}</pre>
	</div>
	<p>HEMAN</p>
	<div>
		<pre ng-repeat="(key,value) in this">vm.{{key}} = {{ value | json }}</pre>
	</div>
</script>

<script type="text/ng-template" id="progressTracker.html">
	<div style="border: #ffffff">
		<ol class="progtrckr hidden-xs" data-progtrckr-steps={{to.totalSteps}}>
			<li ng-repeat="step in to.steps" class=progtrckr-{{step.status}}>{{step.label}}</li>
		</ol>
	</div>
</script>

<script type="text/ng-template" id="button.html">
	<md-button class={{to.class}} ng-click='clicked(options.templateOptions.method,model)'>{{to.label}}  <md-icon ng-if="options.templateOptions.icon">{{to.icon}}</md-icon></md-button>
</script>

<script type="text/ng-template" id="contactChips.html" md-whiteframe="3">
	<md-card flex=100>
		<md-card-content flex="100">
			<md-chips class="custom-chips" ng-model="model['self'][options.templateOptions.itemType+'s']" md-on-select="clicked('setTempContact',$chip)" md-on-remove="clicked('resetTempContact')">
				<md-chip-template>
					<div layout="row">
						<!-- <div flex=25 class="md-contact-avatar layout-column" style=" background-image: url({{$chip.imagePath}}); background-size: cover; border-radius:40%;">
						</div> -->
						<div flex=10></div>
						<div flex=90>
							<span>{{$chip.title}} {{$chip.firstName}} {{$chip.lastName}}</span>
						</div>
					</div>
				</md-chip-template>
				<button md-chip-remove class="md-primary vegetablechip">
					<ng-md-icon icon="close" style="padding-bottom: 10px; color: white;"></ng-md-icon>
				</button>
			</md-chips>
		</md-card-content>
	</md-card>
</script>

<script type="text/ng-template" id="confirmationDialogueBox.html">
	<md-dialog style="min-width:500px; min-height:350px;" aria-label="" ng-cloak>
		<md-toolbar>
      <div class="md-toolbar-tools">
    <span layout="row" layout-align="space-between center" flex="100">Lead Summary
      <!-- {{to.heading}} -->
      <md-dialog-actions>
        <span flex-33>
      <md-button md-colors={background:'primary-200'} ng-click="save()" md-autofocus>
        Save
      </md-button>
      </span>
        <span flex-33>
      <md-button ng-click="cancel()">
      Cancel
      </md-button>
      </span>
      </md-dialog-actions>
    </span>
    </div>
    </md-toolbar>
		<formly-form model=model fields=fields></formly-form>
	</md-dialog>
</script>

<script type="text/ng-template" id="confirmationDialogueBox1.html">
		<md-dialog-content>
			<div class="md-dialog-content">
				<md-list>
					<md-list-item style="background:ghostwhite;" ng-repeat="itr in to.setOfFields" >
            <div layout="row" flex="100">
						<span  flex=50>{{itr.label}} </span>
						<span flex=50> {{model[itr.key]}}</span>
          </div>
            <md-divider></md-divider>
					</md-list-item>
				</md-list>
			</div>
		</md-dialog-content>
</script>

<script type="text/ng-template" id="leadSelectDialogBox.html">
<md-dialog aria-label="Mango (Fruit)"  ng-cloak style="min-height:600px; min-width:1200px;">
  <form>
    <md-toolbar>
      <div class="md-toolbar-tools">
        <h2>Select the Lead</h2>
        <span flex></span>
      </div>
    </md-toolbar>
    <md-dialog-content>
      <div class="md-dialog-content">
         <formly-form model="vm.leadsList" fields="vm.fields"></formly-form>
      </div>
    </md-dialog-content>
    <md-dialog-actions layout="row">
      <span flex></span>
      <md-button ng-click="cancel()" style="margin-right:20px;">
        Cancel
      </md-button>
    </md-dialog-actions>
  </form>
</md-dialog>
</script>

<script type="text/ng-template" id="uiGrid.html">
	<div ui-grid="{ data: model, columnDefs: to.columnDefs, onRegisterApi: to.onRegisterApi, enableFiltering:tr}" ui-grid-auto-resize ui-grid-pagination ui-grid-selection ui-grid-edit ui-grid-row-edit></div>
</script>
