/***
Dashboard Stats
***/
.dashboard-stat {
  display: block;
  margin-bottom: 25px;
  overflow: hidden;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
  -o-border-radius: 4px;
  border-radius: 4px;
}
.dashboard-stat:before, .dashboard-stat:after {
  content: " ";
  display: table;
}
.dashboard-stat:after {
  clear: both;
}
.portlet .dashboard-stat:last-child {
  margin-bottom: 0;
}
.dashboard-stat .visual {
  width: 80px;
  height: 80px;
  display: block;
  float: left;
  padding-top: 10px;
  padding-left: 15px;
  margin-bottom: 15px;
  font-size: 35px;
  line-height: 35px;
}
.dashboard-stat .visual > i {
  margin-left: -35px;
  font-size: 110px;
  line-height: 110px;
}
.dashboard-stat .details {
  /*position: absolute;*/
  right: 15px;
  padding-right: 15px;
}
.dashboard-stat .details .number {
  padding-top: 25px;
  text-align: right;
  font-size: 42px;
  line-height: 36px;
  letter-spacing: -1px;
  margin-bottom: 0px;
  font-weight: 500;
}
.dashboard-stat .details .desc {
  text-align: right;
  font-size: 18px;
  letter-spacing: 0px;
  font-weight: 500;
}
.dashboard-stat .more {
  clear: both;
  display: block;
  padding: 6px 10px 6px 10px;
  position: relative;
  text-transform: uppercase;
  font-weight: 300;
  font-size: 12px;
  opacity: 0.7;
  filter: alpha(opacity=70);
}
.dashboard-stat .more:hover {
  text-decoration: none;
  opacity: 0.9;
  filter: alpha(opacity=90);
}
.dashboard-stat .more > i {
  display: inline-block;
  margin-top: 1px;
  float: right;
}

.dashboard-stat-light {
  padding-bottom: 20px;
  margin-bottom: 20px;
}
.dashboard-stat-light .details {
  margin-bottom: 5px;
}
.dashboard-stat-light .details .number {
  font-weight: 300;
  margin-bottom: 0px;
}

/***
Dashboard Stats 2
***/
.dashboard-stat2 {
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
  -o-border-radius: 4px;
  border-radius: 4px;
  background: #fff;
  padding: 15px 15px 30px 15px;
  margin-bottom: 20px;
}
.dashboard-stat2 .display {
  margin-bottom: 20px;
}
.dashboard-stat2 .display:before, .dashboard-stat2 .display:after {
  content: " ";
  display: table;
}
.dashboard-stat2 .display:after {
  clear: both;
}
.dashboard-stat2 .display .number {
  float: left;
  display: inline-block;
}
.dashboard-stat2 .display .number h3 {
  margin: 0 0 2px 0;
  padding: 0;
  font-size: 30px;
  font-weight: 400;
}
.dashboard-stat2 .display .number h3 > small {
  font-size: 23px;
}
.dashboard-stat2 .display .number small {
  font-size: 14px;
  color: #AAB5BC;
  font-weight: 600;
  text-transform: uppercase;
}
.dashboard-stat2 .display .icon {
  display: inline-block;
  float: right;
  padding: 7px 0 0 0;
}
.dashboard-stat2 .display .icon > i {
  color: #cbd4e0;
  font-size: 26px;
}
.dashboard-stat2 .progress-info {
  clear: both;
}
.dashboard-stat2 .progress-info .progress {
  margin: 0;
  height: 4px;
  clear: both;
  display: block;
}
.dashboard-stat2 .progress-info .status {
  margin-top: 5px;
  font-size: 11px;
  color: #AAB5BC;
  font-weight: 600;
  text-transform: uppercase;
}
.dashboard-stat2 .progress-info .status .status-title {
  float: left;
  display: inline-block;
}
.dashboard-stat2 .progress-info .status .status-number {
  float: right;
  display: inline-block;
}



/* Statistic Block */
.dashboard-stat.blue {
  background-color: #3598dc;
}
.dashboard-stat.blue.dashboard-stat-light:hover {
  background-color: #258fd7;
}
.dashboard-stat.blue .visual > i {
  color: #FFFFFF;
  opacity: 0.1;
  filter: alpha(opacity=10);
}
.dashboard-stat.blue .details .number {
  color: #FFFFFF;
}
.dashboard-stat.blue .details .desc {
  color: #FFFFFF;
  opacity: 1;
  filter: alpha(opacity=100);
}
.dashboard-stat.blue .more {
  color: #FFFFFF;
  background-color: #258fd7;
}




/* Statistic Block */
.dashboard-stat.blue-madison {
  background-color: #578ebe;
}
.dashboard-stat.blue-madison.dashboard-stat-light:hover {
  background-color: #4884b8;
}
.dashboard-stat.blue-madison .visual > i {
  color: #FFFFFF;
  opacity: 0.1;
  filter: alpha(opacity=10);
}
.dashboard-stat.blue-madison .details .number {
  color: #FFFFFF;
}
.dashboard-stat.blue-madison .details .desc {
  color: #FFFFFF;
  opacity: 1;
  filter: alpha(opacity=100);
}
.dashboard-stat.blue-madison .more {
  color: #FFFFFF;
  background-color: #4884b8;
}



/* Statistic Block */
.dashboard-stat.blue-chambray {
  background-color: #2C3E50;
}
.dashboard-stat.blue-chambray.dashboard-stat-light:hover {
  background-color: #253443;
}
.dashboard-stat.blue-chambray .visual > i {
  color: #FFFFFF;
  opacity: 0.1;
  filter: alpha(opacity=10);
}
.dashboard-stat.blue-chambray .details .number {
  color: #FFFFFF;
}
.dashboard-stat.blue-chambray .details .desc {
  color: #FFFFFF;
  opacity: 1;
  filter: alpha(opacity=100);
}
.dashboard-stat.blue-chambray .more {
  color: #FFFFFF;
  background-color: #253443;
}


/* Statistic Block */
.dashboard-stat.blue-ebonyclay {
  background-color: #22313F;
}
.dashboard-stat.blue-ebonyclay.dashboard-stat-light:hover {
  background-color: #1b2732;
}
.dashboard-stat.blue-ebonyclay .visual > i {
  color: #FFFFFF;
  opacity: 0.1;
  filter: alpha(opacity=10);
}
.dashboard-stat.blue-ebonyclay .details .number {
  color: #FFFFFF;
}
.dashboard-stat.blue-ebonyclay .details .desc {
  color: #FFFFFF;
  opacity: 1;
  filter: alpha(opacity=100);
}
.dashboard-stat.blue-ebonyclay .more {
  color: #FFFFFF;
  background-color: #1b2732;
}


/* Statistic Block */
.dashboard-stat.blue-hoki {
  background-color: #67809F;
}
.dashboard-stat.blue-hoki.dashboard-stat-light:hover {
  background-color: #5e7694;
}
.dashboard-stat.blue-hoki .visual > i {
  color: #FFFFFF;
  opacity: 0.1;
  filter: alpha(opacity=10);
}
.dashboard-stat.blue-hoki .details .number {
  color: #FFFFFF;
}
.dashboard-stat.blue-hoki .details .desc {
  color: #FFFFFF;
  opacity: 1;
  filter: alpha(opacity=100);
}
.dashboard-stat.blue-hoki .more {
  color: #FFFFFF;
  background-color: #5e7694;
}

/* Statistic Block */
.dashboard-stat.blue-steel {
  background-color: #4B77BE;
}
.dashboard-stat.blue-steel.dashboard-stat-light:hover {
  background-color: #416db4;
}
.dashboard-stat.blue-steel .visual > i {
  color: #FFFFFF;
  opacity: 0.1;
  filter: alpha(opacity=10);
}
.dashboard-stat.blue-steel .details .number {
  color: #FFFFFF;
}
.dashboard-stat.blue-steel .details .desc {
  color: #FFFFFF;
  opacity: 1;
  filter: alpha(opacity=100);
}
.dashboard-stat.blue-steel .more {
  color: #FFFFFF;
  background-color: #416db4;
}

/* Statistic Block */
.dashboard-stat.blue-soft {
  background-color: #4c87b9;
}
.dashboard-stat.blue-soft.dashboard-stat-light:hover {
  background-color: #447dad;
}
.dashboard-stat.blue-soft .visual > i {
  color: #FFFFFF;
  opacity: 0.1;
  filter: alpha(opacity=10);
}
.dashboard-stat.blue-soft .details .number {
  color: #FFFFFF;
}
.dashboard-stat.blue-soft .details .desc {
  color: #FFFFFF;
  opacity: 1;
  filter: alpha(opacity=100);
}
.dashboard-stat.blue-soft .more {
  color: #FFFFFF;
  background-color: #447dad;
}


/* Statistic Block */
.dashboard-stat.blue-dark {
  background-color: #5e738b;
}
.dashboard-stat.blue-dark.dashboard-stat-light:hover {
  background-color: #56697f;
}
.dashboard-stat.blue-dark .visual > i {
  color: #FFFFFF;
  opacity: 0.1;
  filter: alpha(opacity=10);
}
.dashboard-stat.blue-dark .details .number {
  color: #FFFFFF;
}
.dashboard-stat.blue-dark .details .desc {
  color: #FFFFFF;
  opacity: 1;
  filter: alpha(opacity=100);
}
.dashboard-stat.blue-dark .more {
  color: #FFFFFF;
  background-color: #56697f;
}


/* Statistic Block */
.dashboard-stat.blue-sharp {
  background-color: #5C9BD1;
}
.dashboard-stat.blue-sharp.dashboard-stat-light:hover {
  background-color: #4c91cd;
}
.dashboard-stat.blue-sharp .visual > i {
  color: #FFFFFF;
  opacity: 0.1;
  filter: alpha(opacity=10);
}
.dashboard-stat.blue-sharp .details .number {
  color: #FFFFFF;
}
.dashboard-stat.blue-sharp .details .desc {
  color: #FFFFFF;
  opacity: 1;
  filter: alpha(opacity=100);
}
.dashboard-stat.blue-sharp .more {
  color: #FFFFFF;
  background-color: #4c91cd;
}

/* Statistic Block */
.dashboard-stat.green {
  background-color: #26a69a;
}
.dashboard-stat.green.dashboard-stat-light:hover {
  background-color: #22958b;
}
.dashboard-stat.green .visual > i {
  color: #FFFFFF;
  opacity: 0.1;
  filter: alpha(opacity=10);
}
.dashboard-stat.green .details .number {
  color: #FFFFFF;
}
.dashboard-stat.green .details .desc {
  color: #FFFFFF;
  opacity: 1;
  filter: alpha(opacity=100);
}
.dashboard-stat.green .more {
  color: #FFFFFF;
  background-color: #22958b;
}


/* Statistic Block */
.dashboard-stat.green-meadow {
  background-color: #1BBC9B;
}
.dashboard-stat.green-meadow.dashboard-stat-light:hover {
  background-color: #18aa8c;
}
.dashboard-stat.green-meadow .visual > i {
  color: #FFFFFF;
  opacity: 0.1;
  filter: alpha(opacity=10);
}
.dashboard-stat.green-meadow .details .number {
  color: #FFFFFF;
}
.dashboard-stat.green-meadow .details .desc {
  color: #FFFFFF;
  opacity: 1;
  filter: alpha(opacity=100);
}
.dashboard-stat.green-meadow .more {
  color: #FFFFFF;
  background-color: #18aa8c;
}


/* Statistic Block */
.dashboard-stat.green-seagreen {
  background-color: #1BA39C;
}
.dashboard-stat.green-seagreen.dashboard-stat-light:hover {
  background-color: #18918b;
}
.dashboard-stat.green-seagreen .visual > i {
  color: #FFFFFF;
  opacity: 0.1;
  filter: alpha(opacity=10);
}
.dashboard-stat.green-seagreen .details .number {
  color: #FFFFFF;
}
.dashboard-stat.green-seagreen .details .desc {
  color: #FFFFFF;
  opacity: 1;
  filter: alpha(opacity=100);
}
.dashboard-stat.green-seagreen .more {
  color: #FFFFFF;
  background-color: #18918b;
}


/* Statistic Block */
.dashboard-stat.green-turquoise {
  background-color: #36D7B7;
}
.dashboard-stat.green-turquoise.dashboard-stat-light:hover {
  background-color: #29cfae;
}
.dashboard-stat.green-turquoise .visual > i {
  color: #FFFFFF;
  opacity: 0.1;
  filter: alpha(opacity=10);
}
.dashboard-stat.green-turquoise .details .number {
  color: #FFFFFF;
}
.dashboard-stat.green-turquoise .details .desc {
  color: #FFFFFF;
  opacity: 1;
  filter: alpha(opacity=100);
}
.dashboard-stat.green-turquoise .more {
  color: #FFFFFF;
  background-color: #29cfae;
}


/* Statistic Block */
.dashboard-stat.grey-steel {
  background-color: #e9edef;
}
.dashboard-stat.grey-steel.dashboard-stat-light:hover {
  background-color: #dde3e6;
}
.dashboard-stat.grey-steel .visual > i {
  color: #80898e;
  opacity: 0.1;
  filter: alpha(opacity=10);
}
.dashboard-stat.grey-steel .details .number {
  color: #80898e;
}
.dashboard-stat.grey-steel .details .desc {
  color: #80898e;
  opacity: 1;
  filter: alpha(opacity=100);
}
.dashboard-stat.grey-steel .more {
  color: #80898e;
  background-color: #dde3e6;
}

/* Statistic Block */
.dashboard-stat.yellow-casablanca {
  background-color: #f2784b;
}
.dashboard-stat.yellow-casablanca.dashboard-stat-light:hover {
  background-color: #f16a38;
}
.dashboard-stat.yellow-casablanca .visual > i {
  color: #FFFFFF;
  opacity: 0.1;
  filter: alpha(opacity=10);
}
.dashboard-stat.yellow-casablanca .details .number {
  color: #FFFFFF;
}
.dashboard-stat.yellow-casablanca .details .desc {
  color: #FFFFFF;
  opacity: 1;
  filter: alpha(opacity=100);
}
.dashboard-stat.yellow-casablanca .more {
  color: #FFFFFF;
  background-color: #f16a38;
}

/* Statistic Block */
.dashboard-stat.red-pink {
  background-color: #E08283;
}
.dashboard-stat.red-pink.dashboard-stat-light:hover {
  background-color: #dc7273;
}
.dashboard-stat.red-pink .visual > i {
  color: #FFFFFF;
  opacity: 0.1;
  filter: alpha(opacity=10);
}
.dashboard-stat.red-pink .details .number {
  color: #FFFFFF;
}
.dashboard-stat.red-pink .details .desc {
  color: #FFFFFF;
  opacity: 1;
  filter: alpha(opacity=100);
}
.dashboard-stat.red-pink .more {
  color: #FFFFFF;
  background-color: #dc7273;
}